@charset "EUC-KR";
	
	
	ul, li {list-style: none;}
	#main{
		margin-top: 100px;
		display:flex;
		padding-right: 300px;
		padding-left: 300px;
		/* text-align: center; */
	}
	
	#mainphoto{
		flex:5;
		width: 600px;
		position: relative;
		clear: left;
		margin-right: 50px;
	}
	
	#itemsAttach{
		max-width: 500px;
	}
	
	#maininfo{
		flex:5;
		width: 400px;
		position: relative;
	}
	
	#detailBtn, #detailImg{text-align: center;}
	#itemsName {text-align: left; font-size:2rem;}
	#itemsContext, #itemsCompany {font-size: 1rem; text-align: left;}
	#itemsPrice {color: red; text-align: right;}
	#itemsOrigin, #itemsManufacture, #itemsStock{font-size:1rem; }
	#pay:hover, #bag:hover {cursor: pointer; color: white;}
	#pay {
		padding: 10px;
		width: 200px;
		background-color: #f03e3e;
		border: 1px solid grey;
	}
	
	#detail {
		display: inline-block; 
		position: relative;
		margin: 50px 50px;
		margin-right: 300px;
		margin-left: 300px;
	} 
	
	
	#detail .list{
		margin: 50px 50px;
		width: 800px;
		height:600px;
		box-sizing: border-box;
		text-align: center;
		padding-right: 100px;
		padding-left: 100px;
		text-align:center;
		margin-left: 300px;
	}
	
	.detailinfo {
		margin-top: 20px;
		width: 700px;
	}
	.detailImg{
		width: 700px;
		height: 500px;
	}
	
	table {
	box-sizing: border-box;clear: both; width: 100%;border-top: 2px solid grey;border-bottom: 1px solid grey;
	margin-bottom:70px;
	}

	#bag {
		padding: 10px;
		width: 200px;
		background-color: #495057;
		border: 1px solid grey;
	}
	#colorOption, #productOption {margin-bottom: 10px;}
	#detailPrice{color: red; text-align: right;}
	#option {
		padding-left: 30px;
		display: flex;
		flex-direction: column;
	}

    
	#loginCheck {border: 2px solid red; width: 400px; margin: 0 auto;}
	#detailBtn, #detailImg{text-align: center;}