@charset "EUC-KR";
	ul, li {list-style: none;}
	nav{
		display:flex;
		width: 80%;
		margin: auto;
		align-items: center;
		justify-content: center;
		/* text-align: center; */
	}
	
	#detail {height: 600px; width: 450px; display: inline-block; 
	margin-left: 50px; margin-bottom: 20px; position: relative;} 
	#list{
		margin-top: 50px;
		margin: 0 auto;
		height:600px;
		box-sizing: border-box;
		text-align: center;
	}
	#list2 {
		margin: 0 auto;
		margin-top: 50px;
		box-sizing: border-box;
		text-align: center;
	}
	#list2 > p {padding: 50px;}
	table {box-sizing: border-box;clear: both;width: 100%;border-top: 2px solid grey;border-bottom: 1px solid grey;}
	#detailBtn, #detailImg{text-align: center;}
	#itemsName {text-align: left;}
	#itemsContext {font-size: 2rem;text-align: left;}
	#itemsPrice {color: red;text-align: right;}
	#pay:hover, #bag:hover {cursor: pointer; color: white;}
	#pay {
		padding: 10px;
		width: 200px;
		background-color: #f03e3e;
		border: 1px solid grey;
	}
	#bag {
		padding: 10px;
		width: 200px;
		background-color: #495057;
		border: 1px solid grey;
	}
	#colorOption, #productOption {margin-bottom: 10px;}
	#detailPrice{color: red; text-align: right;}
	#option {
		padding-left: 30px;
		display: flex;
		flex-direction: column;
	}