@charset "UTF-8";

/* 	------------------ detail section --------------------------------- */
#detail {
	margin-top: 50px;
}

.detailList{
	border-bottom: 1px solid #D1D1D1;
	padding-right: 300px;
	padding-left:300px;
	padding-top: 10px;
	padding-bottom: 50px;
}

.detailList:nth-child(2n+1){
	background-color: #f1f3f5;
}

.list_img {
	box-shadow:none;
	text-align: center;
	display: block;
	margin-right: 30px;
}

.list_img img {
	max-width: 600px;
	margin-right:100px;
	margin-left: 100px;
}


.textButton a{
	display:block;
	color: white;
	margin-left: 300px;
	margin-right:300px;
}

.list_txt {
	margin: 20px 10px;
	text-align: center;
}

#text_div{
	display: block;
}


.myText {
	border: 1px solid grey;
	width: 600px;
	heigth: 100px;
}


#photoList{
	width:60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
}


#btn {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 20px 20px;
}

#btn button {
	margin: 10px;
}

#save {
	margin-top: 10px;
	padding: 10px;
	width: 200px;
	background-color: #f03e3e;
	border: 1px solid grey;
}

#cancel {
	margin-top: 10px;
	padding: 10px;
	width: 200px;
	background-color: #495057;
	border: 1px solid grey;
}

#btn a{
	box-sizing: border-box;
	color: white;
	padding-top:10px;
	margin-right: 20px;
	text-align: center;
	width: 200px;
	height: 50px;
}