@charset "UTF-8";

#buttonBox {
	display: flex;
	align-item: center;
}

.blend {
	height: 20px;
	border: 5px;
	background-color: red;
	background-size: cover;
	background-blend-mode: lighten;
	transition: background-color 10s;
}

.blendhover {
	background-color: rgba(255, 0, 01);
}

.list{
	width: 200px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}

#itemWrite{
	width: 1200px;
}


.input{
	width: 300px;
}
#mainform {
	padding-right: 300px;
	padding-left: 300px;
	width: 1000px;
}

#title {
	margin: 30px 30px;
}



